/*
 * Inspired by a1800.net
 * Scripts: pnski
 * Layout: schwubbe
 */
@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
 * Preparing of variables light mode
 */
:root {
  --font-color: #2d2b2f;
  --bg-color-head: #2d2b2f;
  --bg-color-content: #eaeaea;
  --bg-color-menues: antiquewhite;
  --bg-color-search-tab: lightgrey;
  --bg-color-result-table-row: #ebdac3;
  --bg-color-details-table-row: #ebdac3;
  --bg-color-textarea: antiquewhite;

  --icon-ModeSwitch: 'dark_mode';
}

/*
 * Preparing of variables dark mode
 */
.dark-mode {
  --font-color: #eaeaea;
  --bg-color-head: #010409;
  --bg-color-content: #262c36;
  --bg-color-menues: #151b23;
  --bg-color-search-tab: #262c36;
  --bg-color-result-table-row: #262c36;
  --bg-color-details-table-row: #151b23;
  --bg-color-textarea: #151b23;

  --icon-ModeSwitch: 'light_mode';
}



/*
 * Definitions for the entire site
 */

html {
  height: 100vh;
}
body {
  font-family: Niramit;
  font-size: 1em;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color-content) !important;
}

.hidden {
  display: none !important;
}
/* Buttons */
.btn {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  border: none;
  color: var(--font-color);
  background-color: unset;
}

/*
 * Loading spinner
 */
#loader_div {
  position: fixed;
  width: 100%;
  text-align: center;
  top: calc(100vh / 2 - 35px);
  display: none;
}
.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}
@keyframes animloader {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }
  33% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }
  66% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}


/*
 * Symbols and Icons
 */


.material-symbols-outlined {
  color: var(--font-color);
  background-position: right;
  background-repeat: no-repeat;
  font-size: 24px;
  cursor: pointer;
}
.flip_icon {
  transform: scaleX(-1);
}
.icons_row_search_tabs {
  float: right;
  padding: 0 10px;
  height: 32px;
  font-size: 20px;
}
.icons_row_search_tabs span{
  color: #eaeaea;
  font-size: 32px;
  width: 32px;
}
.icon-ModeSwitch::before {
  content: var(--icon-ModeSwitch);
}


/*
 * Head
 */
#headbar {
  clear: both;
  background-color: var(--bg-color-head);
  color: #eaeaea;
}

#sitname {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}

/*
 * Searchbar and forms
 */
#searchbar {
  background-color: var(--bg-color-head);

}
#search_header {
}

/* search-forms */
.search_tab {
  display: inline-block;
  background-color: var(--bg-color-menues);
  padding: 3px 15px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}

.active_search_tab {
  background-color: var(--bg-color-search-tab);
}

.search_forms {
  background-color: var(--bg-color-content);
  min-height: 50px;
  padding: 10px;
  border-style: none none solid none;
  border-color: var(--bg-color-content);
  border-width: 5px;
}

.search_form {
  display: none;
}

form  {
}

form input[type=text] {
  min-width: 300px;
  width: 15vw;
}
form > label, input[type=checkbox], button {
  cursor: pointer;
}
#asset_search_form_elements {
  display: flex;
  line-height: 25px;
}
#asset_search_form_elements > div {
  padding: 5px 10px 5px 10px;
}
#container_expert_mode {
  display: flex;
  cursor: pointer;
}
#expert_form_fields {
  display: flex;
}
#expert_form_fields > div {
  padding: 0 10px 0 10px;
}


/*
 * content
 */
#content {
  display: flex;
  height: 100%;
  margin-bottom: 30px;
  background-color: var(--bg-color-menues);
}

/*
 * Content left site
 */
#result_list {
  background-color: var(--bg-color-menues);
  color: var(--font-color);
  display: inline-block;
  width: 25vw;
  padding-right: 20px;
}

.result_list_row:nth-child(even) {
  background-color: var(--bg-color-result-table-row);
}
#result_list_head {
  background-color: var(--bg-color-result-table-row);
  font-size: 1.25em;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
}
#result_list_head > div {
  clear: both;
  flex-grow: 200;
}
#result_list_head > div:nth-child(1) {
  flex-basis: 111px;
  flex-grow: 0;
  padding: 0 5px;
}
#result_list_head > div:nth-child(3) {
  flex-basis: 40px;
  flex-grow: 0;
  border-style: none solid none none;
  border-color: var(--bg-color-content);
  border-width: 15px;
}
.result_list_row {
  display: flex;
  flex-wrap: nowrap;
}

.result_list_row > div {
  flex-grow: 200;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result_list_row > div:nth-child(1) {
  flex-basis: 111px;
  flex-grow: 0;
  padding: 0 5px;
}
.result_list_row > div:nth-child(3) {
  flex-basis: 40px;
  flex-grow: 0;
  border-style: none solid none none;
  border-color: var(--bg-color-content);
  border-width: 15px;
}

/*
 * Content right site
 */

#result_details {
  display: inline-block;
  width: 75vw;

}

#detail_head {
  display: block;
}
#detail_head > div {
  display: flex;
  justify-content: center;
}
#detail_head > div > div {
  align-self: center;
  padding: 0 75px;
}
#detail_head > div > div:nth-child(1) {
  font-size: xx-large;
}
#detail_head > div > div:nth-child(2) {
  font-size: large;
}
#detail_head > div > div:nth-child(3) {
  font-size: large;
}
#detail_view {
  background-color: var(--bg-color-menues);
  display: flex;
}

#detail_view_tab_bar {
  border-radius: 15px 15px 0 0;
  display: flex;
}

.detail_tab {
  display: inline-block;
  background-color: var(--bg-color-menues);
  font-weight: bold;
  font-size: 1.25em;
  width: calc(75vw / 3);
  text-align: center;
  color: var(--font-color);
  cursor: pointer;
}

.active_detail_tab {
  background-color: var(--bg-color-content);
  color: var(--font-color);
}

#detail_destination {
  /* height: 100%; */
}

#detail_destination > div {
  display: none;
  background-color: var(--bg-color-content);
  color: var(--font-color);
  /* height: 100%; */
  padding: 20px 20px 3px 20px;
}

#details_values_DATA div {
  display: flex;
  justify-content: space-between;
}
#details_values_DATA > div:nth-child(even) {
  background-color: var(--bg-color-details-table-row);
}
#details_values_DATA div div:nth-child(1){
  word-wrap: break-word;
}
#details_values_DATA div div:nth-child(2){
  min-width: 10px;
}
#details_values_DATA div div:nth-child(3){
  text-align: right;
  word-wrap: break-word;
}


#textarea_details_xml {
  width: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  background-color: var(--bg-color-textarea);
  color: var(--font-color);
}